body{
    background-image: url('https://www.teahub.io/photos/full/2-27242_pink-clouds-wallpaper-4k.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    display: flex;
    align-items: center;
    height: 80vh;
}

.content{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 6vw;
    min-height: 12vh;
    border: 2px solid palevioletred;
    background-color: papayawhip;
    border-radius: 5px;
}

#search-name{
    border: 1px solid black;
    border-radius: 3px;
}

#submit{
    background-color: whitesmoke;
}

.errorMessage{
    font-weight: bold;
    font-size: larger;
    border: 1px solid black;
    color: red;
}